[buildout]
extends =
    config/base.cfg
    config/haproxy.cfg
    config/varnish.cfg

parts +=
    zeoserver
    instance1
    instance2
    instance3
    instance4
    supervisor

develop +=
   src/ejn.migration

eggs +=
    ejn.migration

[config]
instance1-address = 127.0.0.1:9080
instance2-address = 127.0.0.1:9081
instance3-address = 127.0.0.1:9082
instance4-address = 127.0.0.1:9083
zeo-address = 127.0.0.1:9100
haproxy-address = 127.0.0.1:9095
varnish-address = 127.0.0.1:9099
varnish-backend-port = 9095
system-user = zope


[supervisor]
recipe = collective.recipe.supervisor
plugins = superlance
http-socket = unix
file = ${buildout:directory}/var/supervisord.sock
haproxy-directory = ${buildout:directory}/components/haproxy
programs =
    10 zeoserver ${zeoserver:location}/bin/runzeo ${zeoserver:location}
    100 instance1 ${buildout:directory}/bin/instance1 [console] ${instance1:location} true
    110 instance2 ${buildout:directory}/bin/instance2 [console] ${instance2:location} true
    120 instance3 ${buildout:directory}/bin/instance3 [console] ${instance3:location} true
    130 instance4 ${buildout:directory}/bin/instance4 [console] ${instance4:location} true
    800 haproxy   ${buildout:directory}/bin/haproxy [ -f ${buildout:directory}/etc/haproxy.conf -db ]
    900 varnish (exitcodes=0) ${buildout:directory}/bin/varnish true


[versions]
MySQL-python = 1.2.5
Products.ATReferenceBrowserWidget = 3.0
Products.PloneKeywordManager = 2.2.0
Products.PrintingMailHost = 1.1.0
Products.PythonField = 1.1.3
Products.TALESField = 1.1.3
Products.TemplateFields = 1.2.5
Products.ZMySQLDA = 3.1.1
iw.rotatezlogs = 0.1.2
plone.app.jquerytools = 1.9.4
stxnext.pdb = 0.2.1

# Required by:
# plone.app.form==2.3.2
Products.CMFDefault = 2.2.4

# Required by:
# Products.Ploneboard==3.7.dev0
Products.SimpleAttachment = 5.0.0

# Required by:
# ejn.policy==1.0
collective.registrationcaptcha = 1.1

# Required by:
# openpyxl==2.5.4
et-xmlfile = 1.0.1

# Required by:
# plone.fieldsets==2.0.3
five.formlib = 1.0.4

# Required by:
# openpyxl==2.5.4
jdcal = 1.4

# Required by:
# ejn.migration==1.0
openpyxl = 2.5.4

# Required by:
# archetypes.referencebrowserwidget==2.5.4
plone.app.form = 2.3.2

# Required by:
# Products.Ploneboard==3.7.dev0
# collective.easyslider==1.4.2
# collective.embedly==2.4
plone.fieldsets = 2.0.3

# Required by:
# ejn.theme==1.0
pycountry = 18.5.26

# Required by:
# stxnext.pdb==0.2.1
stxnext.log = 0.2.0

# Required by:
# ejn.theme==1.0
z3c.jbot = 0.7.2
openpyxl = 2.3.3
zc.recipe.cmmi = 1.3.6
pycountry = 1.20
plone.formwidget.recaptcha = 2.0a3
Genshi = 0.7
MarkupSafe = 1.0
collective.recipe.supervisor = 0.20
collective.recipe.zope2cluster = 1.1
collective.z3cform.norobots = 1.4.4
meld3 = 1.0.2
norecaptcha = 0.3.0
plone.recipe.haproxy = 1.1.2
plone.recipe.varnish = 2.2.0
superlance = 1.0.0

# Required by:
# superlance==1.0.0
supervisor = 3.3.4