#edit-bar li {
    display: inline;
}
#edit-bar ul, #edit-bar ol {
    list-style: outside none none;
    margin: 0;
    padding: 0px;
}
#edit-bar{
    min-height: 2.3em;
}
.hiddenStructure{ display: none; }
.eventDetails {
    clear: right;
    float: right;
    margin: 0 0 0.5em 1em;
}
#content img.tileImage, #content div.newsImageContainer {
    float: right;
    margin: 0 1em 0.5em;
}
#content div.documentByLine {
    color: #666;
    display: block;
    font-size: 85%;
}
table.listing, table.plain {
    border-collapse: collapse;
    border-spacing: 0;
}
table.invisible td, table.invisible th, table.plain td, table.plain th, table.listing td, table.listing th {
    padding: 0.5em 1em;
    vertical-align: top;
}
table.plain th, table.plain td {
    border: 1px solid #ddd;
}
table.plain th {
    text-align: left;
}
table.listing td.listingCheckbox, table.listing th.listingCheckbox {
    text-align: center;
}
table.listing {
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
}
table.listing .top {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
}
table.listing th {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #ddd;
    border-color: #e7e7e7;
    border-image: none;
    border-style: solid solid none;
    border-width: 0.1em;
    color: #666;
    text-align: left;
}
table.listing tr.odd th {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #fff;
    border-image: none;
    border-style: solid solid none none;
    border-width: 0.1em;
}
table.listing tbody th {
    font-weight: bold;
}
table.listing tbody tr {
    text-align: left;
}
table.listing tbody tr.odd {
    background: none repeat scroll 0 0 #eee;
}
table.listing tbody tr td {
    background: none repeat scroll 0 0 transparent;
}
table.listing tbody tr.odd td {
    background: none repeat scroll 0 0 #eee;
}
table.listing td {
    border-right: 1px solid #ddd;
}
.icons-on #listing-table td {
    line-height: 2em;
}
table.listing a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-bottom: medium none !important;
    border-image: none;
    border-left: medium none;
    border-right: medium none;
    border-top: medium none;
    display: inline-block;
}
table.listing td.draggable {
    background: none repeat scroll 0 0 #ddd !important;
    border-bottom: 1px solid white;
    padding: 0.4em 0.4em 0 0.5em;
    text-shadow: 1px 1px 1px White;
}
table.vertical {
}
table.vertical th {
    text-align: right;
}
table.vertical td {
    border-top: 0.1em solid #e7e7e7;
    padding: 0.5em;
}
table.grid td, table.grid th {
    border: 1px solid #e7e7e7;
    padding: 0.5em;
}
.dragindicator {
    outline: 2px solid #ffd700;
}
#foldercontents-order-column {
    padding: 0;
}
div.listingBar {
    font-size: 80%;
    margin: 1em 0;
}
div.listingBar .next {
    display: inline-block;
    float: right;
}
div.listingBar .previous {
    display: inline-block;
}
div.listingBar a {
    border: 0.1em solid #ccc;
    display: inline-block;
    padding: 0.25em 0.5em;
}
div.listingBar a:hover {
    background-color: #329fd7;
    border-color: #329fd7;
    color: White;
}
dl.portalMessage, div.attention, div.caution, div.danger, div.error, div.hint, div.important, div.note, div.tip, div.warning {
    background-color: #ffffe3;
    border: 1px solid #996;
    clear: both;
    font-size: 80%;
    margin: 1em 0;
}
dl.portalMessage a, #content dl.portalMessage a, div.attention a, div.caution a, div.danger a, div.error a, div.hint a, div.important a, div.note a, div.tip a, div.warning a, #content div.attention a, #content div.caution a, #content div.danger a, #content div.error a, #content div.hint a, #content div.important a, #content div.note a, #content div.tip a, #content div.warning a {
    border-bottom: 1px solid #888;
    color: black;
}
dl.portalMessage dt, div > .admonition-title {
    background-color: #996;
    color: White;
    float: left;
    font-weight: bold;
    line-height: 1.25em;
    margin: 0 0.5em 0 0;
    padding: 0.5em 0.75em;
}
dl.portalMessage dd, div.attention > .last, div.caution > .last, div.danger > .last, div.error > .last, div.hint > .last, div.important > .last, div.note > .last, div.tip > .last, div.warning > .last {
    line-height: 1.25em;
    margin: 0;
    padding: 0.5em;
}
dl.warning {
    border-color: #d80;
}
dl.warning > dt, .warning > .admonition-title {
    background-color: #d80;
}
dl.error {
    border-color: red;
}
dl.error > dt, .error > .admonition-title {
    background-color: #d00;
}
.warning > dd, .warning > .last {
    background-color: #fd7;
}
.error > dd, .error > .last {
    background-color: #fdc;
}
#content dl.portalMessage, #content div.attention a, #content div.caution a, #content div.danger a, #content div.error a, #content div.hint a, #content div.important a, #content div.note a, #content div.tip a, #content div.warning a {
    font-size: 100%;
}
#content dl.portalMessage dt, #content div > .admonition-title {
    margin: 0 0.5em 0 0;
    padding: 0.5em 0.75em;
}
#content dl.portalMessage dd, #content div.attention > .last, #content div.caution > .last, #content div.danger > .last, #content div.error > .last, #content div.hint > .last, #content div.important > .last, #content div.note > .last, #content div.tip > .last, #content div.warning > .last {
    margin: 0;
}


/* div overlay */

div.overlay {
    display: none;
    font-size: 80%;
    height: auto;
    margin: 1em;
    width: auto;
}
div.overlay-iframe, div.overlay-ajax {
    min-height: 100px;
    width: 60%;
    z-index: 99;
}
div.overlay-iframe {
    height: 60%;
}
.pb-ajax {
    overflow-y: auto;
}
.pb-ajax, .pb-image, .overlay iframe {
    background-color: #fff;
    border: 1px solid #999;
    box-shadow: 0 0 3em 0.5em #666;
    white-space: normal;
}
.pb-ajax > div {
    padding: 1em;
    width: 92%;
}
.pb-ajax .documentActions {
    display: none;
}
div.overlay div.close span {
    display: block;
    height: 1px;
    margin: -1px 0 0 -1px;
    overflow: hidden;
    padding: 0;
    width: 1px;
}
div.overlay textarea {
    width: 100%;
}
div.overlay .link-parent {
    display: none;
}
div.overlay #createGroup legend {
    display: none;
}
div.overlay #createGroup fieldset {
    border: medium none;
}
div.overlay p {
    margin-bottom: 1em;
}
div.overlay label {
    margin-bottom: 0.25em;
}
div.overlay a:hover {
    color: #75ad0a;
}
div.overlay a:hover label {
    cursor: pointer;
}
div.overlay a.selected {
    color: #000000;
}
div.overlay .formTab {
    font-weight: bold;
    margin-right: 1em;
}
div.overlay .formTab.lastFormTab {
    margin-right: 0;
}
div.overlay .formControls a {
    display: block;
    margin: 0.75em;
}

.utility-nav > ul#portal-personaltools{ float: right; }
.utility-nav > ul#portal-personaltools,
dl#portal-personaltools{ margin: 0 0 0 .5em;}

dl#portal-personaltools dt a{ padding: 0; }


.utility-nav > dl#portal-personaltools{ font-size: .8em; }
#footer{ overflow: hidden; }

form .field{ margin: 1em 0;}
#login-form label{ display: block;}
form .formQuestion{ font-weight: bold; }
form .formHelp { font-weight: normal; display: block; }

.plone_jscalendar select{ width: auto; }

/* start ploneCustom.css */


@media only screen and (max-width: 900px){
    .layout-2col #content, .layout-2col main#content {
        width: 100%;
        clear: both;
    }
}

.layout-2col .main-content {
    width: 75%;
    margin: 0 0 3em;
    float: left;
}

#viewlet-below-content{
    clear: both;
}

/* replace from Dave Ramos */

.stories-keywords {
margin: 0;
padding: 0;
border: 0;
overflow: hidden;*zoom:1
}
.stories-keywords li {
list-style-image: none;
list-style-type: none;
display: inline-block;
vertical-align: middle;*vertical-align:auto;*zoom:1;*display:inline;
white-space: nowrap;
float: left;
margin: 0 2px 2px 0;
padding: 2px 3px;
width: auto;
font-size: .65em;
color: #777;
background-color: #DEE2D9;
border-radius: 2px
}
.stories-keywords li a {
background: 0 0;
border: 0;
color: inherit
}
.stories-keywords li a:hover,.stories-keywords li a:hover h1,.stories-keywords li a:hover h2,.stories-keywords li a:hover h3,.stories-keywords li a:hover h4,.stories-keywords li a:hover h5,.stories-keywords li a:hover h6,.stories-keywords li a:hover p {
color: #008fa9
}


.ns-type--about {
padding: 2em 2em 1em;
background-color: #DEE2D9
}
.ns-type--about h4 {
margin: 0 0 .5em;
font-size: 1.5em
}
.ns-type--about p {
font-size: 1.25em;
margin: 0 0 1em
}
.ns-type--about .action {
clear: both;
width: 100%;
text-align: right
}

/* end replace from Dave Ramos */

table.invisible {
    visibility: visible;
}

#front-intro {
background: url('/map_bg_960.png');
}

select {
 height: auto;
 width: auto;
 border: 1px solid #363636;
 padding-left: 0;
}

.sidebar nav .active {
    border-bottom: 1px solid #008fa9;
    color: #008fa9;
    font-weight: 700;
}

.profile-box{
    background-color: #efefef;
    padding: 15px;
    margin-bottom: 25px;
    overflow: hidden;
}

.profile-pic{
    width: 135px;
    height: auto;
    float: left;
    margin-right: 25px;
}

.profile-head{
    overflow: hidden;
}

.profile-box .field {
    margin-top: 12px;
}

.profile-box .field .label{
    font-weight: bold;
}

.profile-box .visibility{
    text-align: center;
}

.profile-box .visibility .field{
    display: inline-block;
}

.profile-box .visibility .field:first-child{
    margin-right: 20px;
}

.profile-box .visibility .field input{
    margin-right: 5px;
}

.profile-box button {
    position: relative;
    vertical-align: top;
    height: 40px;
    padding: 0;
    font-size: 16px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #2ecc71;
    border: 0;
    border-bottom: 2px solid #28be68;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #28be68;
    box-shadow: inset 0 -2px #28be68;
    padding: 0 15px;
    float: right;
    margin: 50px 0 20px 0;
}
.profile-box button:active {
    top: 1px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#member_profile-base-edit fieldset{
    padding-left: 0;
}

#member_profile-base-edit input[type="text"]{
    padding: 0 5px;
}

#member_profile-base-edit select{
    padding: 5px;
    border-radius: 0;
    border: 1px solid #DEE2D9;
    background: url('gray_arrow.png') right 10px center no-repeat;
    background-size: 15px;
    padding-right: 30px;
}

#member_profile-base-edit select[multiple="multiple"]{
    background-image: none;
}

#member_profile-base-edit input[type="checkbox"]{
    margin-right: 10px;
}

#member_profile-base-edit .existingTags{
    width: auto;
}

#member_profile-base-edit .formHelp{
    float: none;
    clear: both;
}

#member_profile-base-edit #subject_keywords{
    clear: both;
    float: left;
    width: 100%;
}

#member_profile-base-edit #archetypes-fieldname-interests_extra{
    clear: both;
}

#member_profile-base-edit input.context{
    margin-right: 15px;
}

#member_profile-base-edit .newTagsSection{
    margin-left: 0;
}

#member_profile-base-edit .newTagsSection br{
    display: none;
}

#member_profile-base-edit .existingTagsSection{
    margin-left: 0;
}

#member_profile-base-edit textarea{
    padding: 5px;
    border-radius: 0;
    border: 1px solid #DEE2D9;
    background: #f9fcf5;
    margin-top: 15px;
}

.stories-group-singles .story-item{
    overflow: hidden;
    margin-bottom: 2em;
}

.stories-group-singles .stories-image{
    float: left;
}

.stories-group-singles .stories-head{
    font-size: 2em;
    margin: 0;
}

.stories-group-singles .stories-keywords li{
    background-color: white;
    border: 1px solid #efefef;
    font-size: .7em;
    padding: 8px;
    margin: 0 4px 4px 0;
}

.stories-group-singles .read-more{
    color: #008fa9;
    margin: 5px 0;
    display: block;
}

.stories-group-singles ul.stories-keywords {
    margin: 0;
    padding: 0;
    clear: both;
}

.stories-group-singles .stories-byline{
    margin: 0.5em 0;
    font-size: 1em;
}

/* end ploneCustom.css */

@media (min-width: 769px) {
    .plone-toolbar-left #edit-zone nav > ul ul {
        background: rgba(20, 20, 20, 0.9);
    }
}

body.template-contact-info textarea {
    background: #f9fcf5;
    border: 1px solid #DEE2D9;
    height: 200px;
    width: 50%;
}

